# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/portal

# Airtable
AIRTABLE_PAT=
AIRTABLE_BASE_ID=appl9fH9MnuB14W0r

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@efficiencyarchitects.online

# Make.com webhooks
MAKE_JOIN_WEBHOOK_URL=
MAKE_RSVP_WEBHOOK_URL=
MAKE_BLUEPRINT_WEBHOOK_URL=https://hook.us2.make.com/a9h57qarhot1mzbg3s6ayy8qvj6yobwf
